# Base de données
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432
/sensante?schema=public"

# Groq API (à venir)
GROQ_API_KEY="A laisser vide"

# NextAuth (à venir)
NEXTAUTH_SECRET="wJxmwYX/kDVkH+NeRKYZMDn6GANssuB/d9gOttAO88w="
NEXTAUTH_URL="http://localhost:3000"
